<%- include('includes/head.ejs') %>

<div>
    <h1>Book's Store</h1>
</div>
<div class="form">
    <form action="/add-products" method="POST" class="form">
        <div>
            <label for="product">Please enter the title of the book:</label>
            <input type="text" name="product" required>
        </div>
        <div>
            <label for="number">Number of books:</label>
            <input type="number" name="number" required>
        </div>
        <div>
            <label for="select">Category: </label>
            <select name="category">
                <option value="https://images.unsplash.com/photo-1565538420870-da08ff96a207?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" selected>Children</option>
                <option value="https://images.unsplash.com/photo-1514355315815-2b64b0216b14?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80">Youth</option>
                <option value="https://images.unsplash.com/photo-1473492201326-7c01dd2e596b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80">Adults</option>
            </select>
        </div>


        <button type="input">Add Product</button>
    </form>
</div>
<%- include('includes/end.ejs') %>